<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1w0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,82},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>p1w0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,240},{85,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,76}}</string>
                <key>sourceSize</key>
                <string>{85,76}</string>
            </dict>
            <key>p1w0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,162},{85,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,77}</string>
            </dict>
            <key>p1w0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,83},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>p1w0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>p1w0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{85,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,79}</string>
            </dict>
            <key>p1w0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,82},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>p1w0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>p1w0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,162},{85,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,77}</string>
            </dict>
            <key>p1w0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,161},{85,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,77}</string>
            </dict>
            <key>p1w0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,412},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>p1w0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,564},{46,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,81}}</string>
                <key>sourceSize</key>
                <string>{46,81}</string>
            </dict>
            <key>p1w0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,658},{43,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,81}}</string>
                <key>sourceSize</key>
                <string>{43,81}</string>
            </dict>
            <key>p1w0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,399},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>p1w0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{42,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,80}}</string>
                <key>sourceSize</key>
                <string>{42,80}</string>
            </dict>
            <key>p1w0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,241},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,77}}</string>
                <key>sourceSize</key>
                <string>{48,77}</string>
            </dict>
            <key>p1w0208.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,82},{48,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,78}}</string>
                <key>sourceSize</key>
                <string>{48,78}</string>
            </dict>
            <key>p1w0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,749},{44,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,79}}</string>
                <key>sourceSize</key>
                <string>{44,79}</string>
            </dict>
            <key>p1w0210.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,802},{43,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,78}}</string>
                <key>sourceSize</key>
                <string>{43,78}</string>
            </dict>
            <key>p1w0211.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,778},{43,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,78}}</string>
                <key>sourceSize</key>
                <string>{43,78}</string>
            </dict>
            <key>p1w0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,320},{45,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,82}}</string>
                <key>sourceSize</key>
                <string>{45,82}</string>
            </dict>
            <key>p1w0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,367},{43,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,82}}</string>
                <key>sourceSize</key>
                <string>{43,82}</string>
            </dict>
            <key>p1w0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>p1w0304.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,367},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>p1w0305.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,703},{44,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,80}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>p1w0306.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,703},{44,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,79}}</string>
                <key>sourceSize</key>
                <string>{44,79}</string>
            </dict>
            <key>p1w0307.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,652},{44,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,81}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>p1w0308.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>p1w0309.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,321},{44,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,82}}</string>
                <key>sourceSize</key>
                <string>{44,82}</string>
            </dict>
            <key>p1w0310.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,612},{44,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,81}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>p1w0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,403},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>p1w0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,577},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>p1w0403.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,538},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>p1w0404.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>p1w0405.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,526},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>p1w0406.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,496},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>p1w0407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>p1w0408.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,413},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>p1w0409.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,318},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>p1w0410.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,320},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>p1w0501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,79}</string>
            </dict>
            <key>p1w0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>p1w0503.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,242},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>p1w0504.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,241},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>p1w0505.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,82},{85,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,77}}</string>
                <key>sourceSize</key>
                <string>{85,77}</string>
            </dict>
            <key>p1w0506.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,241},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>p1w0507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>p1w0508.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,163},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>p1w0509.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>p1w0510.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>p1w0601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{43,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,79}}</string>
                <key>sourceSize</key>
                <string>{43,79}</string>
            </dict>
            <key>p1w0602.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{46,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,80}}</string>
                <key>sourceSize</key>
                <string>{46,80}</string>
            </dict>
            <key>p1w0603.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,764},{43,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,79}}</string>
                <key>sourceSize</key>
                <string>{43,79}</string>
            </dict>
            <key>p1w0604.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,795},{43,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,78}}</string>
                <key>sourceSize</key>
                <string>{43,78}</string>
            </dict>
            <key>p1w0605.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,841},{42,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,76}}</string>
                <key>sourceSize</key>
                <string>{42,76}</string>
            </dict>
            <key>p1w0606.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,809},{43,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,77}}</string>
                <key>sourceSize</key>
                <string>{43,77}</string>
            </dict>
            <key>p1w0607.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{48,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,78}}</string>
                <key>sourceSize</key>
                <string>{48,78}</string>
            </dict>
            <key>p1w0608.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,162},{48,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,77}}</string>
                <key>sourceSize</key>
                <string>{48,77}</string>
            </dict>
            <key>p1w0609.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,854},{44,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,75}}</string>
                <key>sourceSize</key>
                <string>{44,75}</string>
            </dict>
            <key>p1w0610.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,757},{43,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,78}}</string>
                <key>sourceSize</key>
                <string>{43,78}</string>
            </dict>
            <key>p1w0701.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,710},{45,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,79}}</string>
                <key>sourceSize</key>
                <string>{45,79}</string>
            </dict>
            <key>p1w0702.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,640},{43,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,81}}</string>
                <key>sourceSize</key>
                <string>{43,81}</string>
            </dict>
            <key>p1w0703.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,618},{44,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,81}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>p1w0704.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{44,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,78}}</string>
                <key>sourceSize</key>
                <string>{44,78}</string>
            </dict>
            <key>p1w0705.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,823},{44,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>p1w0706.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,664},{44,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,80}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>p1w0707.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,606},{44,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,81}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>p1w0708.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,657},{44,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,80}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>p1w0709.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,749},{44,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,78}}</string>
                <key>sourceSize</key>
                <string>{44,78}</string>
            </dict>
            <key>p1w0710.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,795},{44,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,77}}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>p1w0801.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,484},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>p1w0802.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,698},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>p1w0803.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{81,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,77}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>p1w0804.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,563},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>p1w0805.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,484},{81,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
            <key>p1w0806.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,457},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>p1w0807.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,444},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>p1w0808.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,402},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>p1w0809.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,319},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>p1w0810.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,685},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1w.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aff293691e481f97574a58b6cd8d9ca:1/1$</string>
            <key>textureFileName</key>
            <string>p1w.png</string>
        </dict>
    </dict>
</plist>
